<html>
<head>
<meta charset='UTF-8'>
<title</title>
</head>
<body>
<h1>Submitted From </h1>
<fieldset>
    Name: @ViewBag.Name <br></br>
    Language: @ViewBag.Languages <br></br>
    Location: @ViewBag.Locations <br></br>
    Comment: @ViewBag.Comments <br></br>
</fieldset> 
</body>
</html>